<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<form action="<%= Math.floor(Math.random() * 6 + 1) %>">
		<button id="die_button">Roll Die</button>
	</form>
</body>
</html>