<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Temperature</title>
	<link rel="stylesheet" href="/style.css">
	<script async="async" src="/script.js"></script>
</head>
<body>
	<span id="cont">
		<object id="thermometer" data="/thermometer.svg" type="image/svg+xml"></object>
		<label for="temperature">Temperature</label>
		<input id="temperature" type="number" name="temperature" placeholder="0">
		<input id="submit" type="submit" value="Submit">
	</span>
</body>
</html>
