<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Die</title>
    <script defer src="../die.js"></script>
</head>
<body>
<!--A die image, a button and script for re-rolling a die-->
    <img class="die" src="/images/<%=roll%>.png" alt="<%=roll%>" />
    <button id="die_button">Roll Die</button>
</body>
</html>