<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Events</title>
    <script id="index_js" data-events='<%- JSON.stringify(events) %>' async="async" src="/views/index.js"></script>
  </head>
  <body>
    <form action="/event" method="post">
        <input name="name" type="text">
        <input name="date" type="datetime-local">
        <button id="submit_event">Submit</button>
    </form>
    <div>
        <ul>
            <%for (const event of events){%>
              <li>
                  <span><%=event.name%></span>
                  <span id="<%=event.name%>">___</span>
              </li>
            <%}%>
        </ul>
    </div>
    <button id="clear">Clear events</button>
    </body>
</html>
